# DO NOT commit real values to GitHub.
# Add these in Vercel Project Settings -> Environment Variables.
ADMIN_EMAIL=olijddsa@gmail.com
ADMIN_PASSWORD=hbdbjdsjb&%##
ADMIN_SESSION_SECRET=22134bdghdrjsahhkfgfdgfdf875854hr4ygf5y
