# DO NOT commit real values to GitHub.
# Add these in Vercel Project Settings -> Environment Variables.
ADMIN_EMAIL=chwamiq2@gmail.com
ADMIN_PASSWORD=Wam@$67&$q
ADMIN_SESSION_SECRET=22134bdghdrjsahhkjyyki875854hr4ygf5y
